/*Flex-Box*/
.flex-evenly-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
/* padding */
.padding-bottom-16 {
  padding-bottom: 16px !important;
}

.padding-bottom-8 {
  padding-bottom: 16px !important;
}

.padding-bottom-24 {
  padding-bottom: 24px;
}

.padding-bottom-80 {
  padding-bottom: 80px;
}

/* margin-bottom */
.mb-48 {
  margin-bottom: 36px;
}

/* gap */
.gap-8 {
  gap: 8px !important;
}

.gap-16 {
  gap: 16px !important;
}

/* placeholder */
::placeholder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: lightgray;
  padding: 8px 0 8px 8px;
  font-size: 17px;
}

/* Big-Container */
.left-container {
  /* background-color: yellow; */
  padding-right: 24px;
}

.form-seperator {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 425px;
  padding-left: 1px;
}

.right-container {
  /* background-color: gold; */
  padding-left: 24px;
}

/* headline */
.task-headline {
  font-size: 44px;
  font-weight: 700;
}

/* title */
.field-headline {
  font-size: 20px;
  font-weight: 400;
}

.asterisk-color {
  color: #ff3d00;
  font-size: 20px;
}

.field-325 {
  width: 440px;
  height: 48px;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgray;
}

/* description */
.description-input {
  width: 440px;
  height: 136px;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

/* assigned */
.select {
  font-weight: 500;
  font-size: 17px;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 440px;
  height: 48px;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgray;
  background: url("/assets/img/dropdown_down.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 421px;
  background-color: white;
}

.select-span {
  font-size: 20px;
  font-weight: 400;
}

/* date */
.date:hover {
  cursor: pointer;
}

::-webkit-datetime-edit {
  padding: 8px;
  color: lightgray;
  font-size: 17px;
}

::-webkit-calendar-picker-indicator {
  padding: 8px;
}

::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

/* prio-buttons */
.urgent {
  width: 160px;
  height: 80px;
}

.urgent :hover {
  cursor: pointer;
}

.medium {
  width: 160px;
  height: 80px;
}

.medium :hover {
  cursor: pointer;
}

.low {
  width: 160px;
  height: 80px;
}

.low :hover {
  cursor: pointer;
}

/* select */
.select-category {
  font-weight: 500;
  font-size: 17px;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 456px;
  height: 60px;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgray;
  background: url("/assets/img/dropdown_down.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 421px;
  background-color: white;
}

.select-span-category {
  font-size: 20px;
  font-weight: 400;
}

/* subtasks */
.subtask-field {
  width: 456px !important;
  height: 60px !important;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgray;
}

.select-subtask {
  font-weight: 500;
  font-size: 17px;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 440px;
  height: 48px;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgray;
  background: url("/assets/img/plus_icon.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 421px;
  background-color: white;
}

.select-subtask-span {
  color: lightgrey;
}

/* execution-buttons */
.position-execution {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-execution {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff7a00;
  width: 1200px !important;
}

.required-text {
  font-weight: 400;
  font-size: 16px;
}

.clear :hover {
  cursor: pointer;
}

.create-task:hover {
  cursor: pointer;
  opacity: 85%;
}
