@media (max-width: 1080px) {
  #main-container {
    height: auto;
    padding: 70px 64px 64px 296px;
  }
 
  .form-height {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .execution-parent {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .form-seperator {
    display: none;
  }

  .left-container {
    display: flex;
    flex-direction: column;
  }

  .right-container {
    display: flex;
    flex-direction: column;
    padding: 24px 0 0 0;
  }

  .required-text {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    /* padding-left: 24px; */
  }

  /* .asterisk-color {
    display: none;
  } */
}

@media (max-width: 1030px) {
  .prio-container {
    gap: 8px;
  }

  .execution-responsive {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  /* .asterisk-color {
    display: none;
  } */

  /* .create-task {
    width: 100px !important;
    height: 44px;
  } */

  .cleaning {
    width: 34px;
    font-size: 17px;
  }

  .cleaning-svg {
    display: none;
  }
}

@media (max-width: 980px) {
  /* .form-height {
    overflow-y: auto;
    scrollbar-width: thin;
  } */

  /* .required-text {
    display: none;
  } */

  .create-task {
    height: 42px;
    font-size: 16px;
  }

  .cleaning {
    height: 42px !important;
    font-size: 16px;
  }

  .padding-responsive980 {
    padding-bottom: 0px !important;
  }
}

/* .task-headline {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
} */


@media (max-width: 840px) {
#main-container {
  padding: 70px 64px 64px 32px !important;
}

.form-height {
  align-items: flex-start;
  margin-left: 40px;
}

.task-headline {
  font-size: 40px;
}

.execution-parent {
   justify-content: space-between;
   white-space: nowrap;
}

}

@media (max-width: 640px) {
  .cleaning {
    margin-left: 50px;
  }

  .create-task {
    margin-right: 50px;
  }
}
@media (max-width: 570px) {
  /* .execution-parent {
    justify-content: center;
 } */
 .cleaning {
  display: none;
  margin-left: 0px;
  height: 0px 
}

.required-container{
  margin-right: 40px;
}
  
}

@media (max-width: 455px) {
  .required-container{
    margin-right: 14px;
   
  }
.execution-parent{
  bottom: 80px;
  position: fixed;
  background-color: #f6f7f8;
  text-align: center;
  justify-content: unset;
  padding-top:10px;
  padding-bottom:10px;
}
  .create-task{
     margin-right: 0px;
     padding: 12px 8px 12px 12px;
  }
  .field-325 {
    width: 255px;
  }

  .description-input {
    width: 255px;
  }

  .dropbtn {
    width: 255px;
    background-position: 235px;
  }

  .select-subtask {
    width: 255px;
    background-position: 235px;
  }

  .prio-container {
    gap: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 430px) {
  .field-325 {
    width: 190px;
  }

  .description-input {
    width: 190px;
  }

  .dropbtn {
    width: 190px;
    background-position: 175px;
  }

  .select-subtask {
    width: 190px;
    background-position: 175px;
  }

  /* .cleaning {
    margin-left: 0px;
  } */

  .create-task {
    margin-right: 0px;
  }
}
