.d-flex {
  display: flex;
}

.select-subtask {
  font-weight: 500;
  font-size: 17px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 325px;
  height: 24px;
  border-radius: 6px;
  outline: none;
  border: 1px solid lightgray;
  background-color: white;
}

.select-subtask:hover {
  cursor: pointer;
}

.select-subtask input {
  outline: none;
  border: 0px;
  color: #000;
}

.select-subtask img {
  width: 12px;
  height: 12px;
  margin-left: 58px;
  padding: 4px;
}

.select-subtask img:hover {
  background-color: lightgray;
  border-radius: 50%;
}

.select-subtask-span {
  color: lightgrey;
}

.close-check-icons-container-board {
  display: flex;
  justify-content: space-between;
}

.close-check-icons-container-board img {
  margin-left: 16px;
}

.left-container-board {
  padding-right: 24px;
}

#board-main-container {
  z-index: -1;
  padding: 0px 64px 0px 272px;
  position: fixed;
  top: 112px;
  right: 32px;
  left: 0px;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.board-search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.board-search-container h1 {
  font-size: 61px;
  font-weight: 700;
  margin-left: 20px;
  color: #2a3647;
}

.input-search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 24px;
}

.input-search-container input {
  display: flex;
  width: 300px;
  height: 24px;
  padding: 12px 0px;
  text-indent: 12px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(209, 209, 209, 1);
  outline: none;
  background-image: url('./../assets/img/search_icon.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: right 20px center;
  margin-right: 20px;
}

.input-search-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px 12px 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  font-weight: 700;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  height: 48px;
}

.input-search-container button:hover {
  background-color: rgba(41, 171, 226, 1);
  border: 2px solid rgba(41, 171, 226, 1);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.input-search-container svg {
  margin-left: 8px;
  width: 16px;
  height: 16px;
}

.column-container {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  padding-bottom: 32px;
}

.sub-column-container {
  border-radius: 6px;
  border: 1px solid transparent;
  overflow: hidden;
  min-width: 200px;
  min-height: 480px;
}

.sub-column-container:hover {
  overflow-y: auto;
}

.sub-column-container::-webkit-scrollbar {
  display: none;
}

.sub-column-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: -16;
}

.sub-column-container::-webkit-scrollbar-thumb:hover {
  background: #29abe2;
  border-radius: 4px;
}

.sub-column-container::-webkit-scrollbar-thumb {
  background: #2a3647;
  border-radius: 4px;
  cursor: pointer;
}

.column-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 40px;
  min-width: 235px;
}

.column-head span {
  color: rgba(42, 54, 71, 1);
  font-size: 18px;
  font-weight: 700;
  margin-left: 12px;
}

.column-head img {
  width: 16px;
  height: 16px;
  padding: 2px;
  border: 2px solid rgba(42, 54, 71, 1);
  border-radius: 8px;
  cursor: pointer;
}

.task-counter-wrapper {
  display: flex;
  position: relative;
}

.task-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: white;
  position: absolute;
  right: -24px;
  top: -8px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #29abe2;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 16px 0px 16px;
  height: 24px;
  font-size: 14px;
  color: rgba(168, 168, 168, 1);
  text-align: center;
  border-radius: 8px;
  background-color: rgba(231, 231, 231, 1);
  padding: 12px;
  border: 1px dashed rgba(168, 168, 168, 1);
}

.task-container {
  background-color: white;
  padding: 12px;
  border-radius: 24px;
  cursor: pointer;
  margin-bottom: 12px;
}

.task-container h4,
.popup-task-container h4 {
  max-width: 200px;
  min-width: 150px;
  padding: 4px 0px;
  border-radius: 6px;
  color: white;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}

.technical-task-h4 {
  background-color: rgba(31, 215, 193, 1) !important;
  padding-right: 24px !important;
}

.task-container span {
  word-wrap: break-word;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
  color: rgba(42, 54, 71, 1);
}

.task-container p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: rgba(168, 168, 168, 1);
  margin-top: 10px;
  margin-bottom: 20px;
  overflow-x: clip;
}

.subtask-progress-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background-color: rgba(244, 244, 244, 1);
  margin-right: 8px;
}

.fill-progress-bar {
  width: 50%;
  height: 8px;
  border-radius: 8px;
  background-color: #4589ff;
}

.subtask-progress-container span {
  font-size: 10px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
  white-space: nowrap;
}

.badge-prio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-badge-container {
  display: flex;
}

.sub-badge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 12px;
  border: 1px solid rgba(250, 248, 248, 0.781);
  border-radius: 50%;
  padding: 2px;
  margin-right: 12px;
}

.badge-ro {
  background-color: #17dd17;
}

.badge-bt {
  background-color: #ed3343f6;
}

.badge-kt {
  background-color: #9fac14;
}

.badge-fk {
  background-color: #29bdb5;
}

.badge-bl {
  background-color: #4589ff;
}

.badge-ca {
  background-color: #bc35b3;
}

.badge-container img {
  width: 30px;
  height: 30px;
}

.badge-container {
  width: 25px;
  height: 30px;
}

.priorität-img-container img {
  width: 20px;
  height: 15px;
}

/* show popup  */
.padding-bottom-container {
  padding-bottom: 24px;
}

#task {
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background: rgba(0, 0, 0, 0.15);
}

#popup-seperator {
  display: flex;
  justify-content: center;
  width: 50%;
  min-height: 4px;
  background: #29abe2;
  border-radius: 6px;
}

.edit-popup-HTML-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#task-edit-popup-parent-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#task-popup-edit-container {
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 74%;
  overflow: hidden;
  padding: 30px;
  gap: 24px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  margin: auto;
  top: 100px;
  right: 0;
  bottom: 100px;
  left: 0;
  z-index: 1;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

#task-popup-edit-container::-webkit-scrollbar {
  display: none;
}

#task-popup-edit-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 0px;
}

#task-popup-edit-container::-webkit-scrollbar-thumb:hover {
  background: #29abe2;
  border-radius: 4px;
}

#task-popup-edit-container::-webkit-scrollbar-thumb {
  background: #2a3647;
  border-radius: 4px;
  cursor: pointer;
}

#task-popup-edit-container:hover {
  overflow-y: scroll;
  box-sizing: border-box;
}

#task-popup-edit-container input {
  font-family: 'Inter', sans-serif;
}

#add-subtask-popup-button,
#save-popup-button,
#cancel-save-popup-button {
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  color: white;
  background: #2a3647;
}

#add-subtask-popup-button:hover,
#save-popup-button:hover,
#cancel-save-popup-button:hover {
  background: #29abe2;
  cursor: pointer;
}

.popup-task-container {
  width: 400px;
  max-height: 65%;
  overflow: hidden;
  padding: 30px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  transform: translateX(100%);
  transition: all 200ms ease-in-out;
  opacity: 0;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.1);
}

.popup-task-container::-webkit-scrollbar {
  display: none;
}

.popup-task-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.popup-task-container::-webkit-scrollbar-thumb:hover {
  background: #29abe2;
  border-radius: 4px;
}

.popup-task-container::-webkit-scrollbar-thumb {
  background: #2a3647;
  border-radius: 4px;
  cursor: pointer;
}

.popup-task-container:hover {
  overflow-y: scroll;
}

.animate-popup-task-container {
  transform: translateX(0);
  opacity: 1;
}

.animate-popup-addtask-container {
  transform: translateX(0);
  opacity: 1;
}

.animate-popup-addtask-container-board {
  transform: translateX(0);
  opacity: 1;
}

.popup-task-container h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}

.popup-task-container span,
.popup-task-container p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.popup-task-container p {
  margin-bottom: 12px;
  margin-top: 12px;
}

.popup-priority-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 12px;
}

.popup-priority-container img {
  width: 15px;
  height: 10px;
  margin-left: 10px;
}

.popup-priority-img-container {
  margin-left: 30px;
}

.popup-badge-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}

.popup-badge-container img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.popup-modify-delete-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
}

.popup-subtask-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 280px;
  padding: 2px;
}

.popup-subtask-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.popup-subtask-container input {
  margin-right: 12px;
  cursor: pointer;
}

.popup-modify-delete-container img {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.popup-del-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popup-del-edit img {
  width: 12px;
  height: 18px;
}

.popup-del-edit span {
  margin-left: 6px;
}

.popup-span {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(42, 54, 71, 1);
}

.popup-subtasks-container {
  margin-top: 20px;
}

#contacts-initial {
  max-height: 50px;
  max-width: 325px;
  overflow: hidden;
}

.contacts-initial-board::-webkit-scrollbar {
  padding: 8px 0px;
  height: 6px;
}

.initial-container {
  margin-left: 0px -4px;
}

.contacts-initial-board:hover {
  overflow-x: scroll;
}

.contacts-initial-board::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.contacts-initial-board::-webkit-scrollbar-thumb:hover {
  background: #29abe2;
  border-radius: 4px;
}

.contacts-initial-board::-webkit-scrollbar-thumb {
  background: #2a3647;
  border-radius: 4px;
  cursor: pointer;
}

#board-category-container {
  display: flex;
  justify-content: space-between;
}

.scroll-container-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  font-size: 10px;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: -3%;
  left: 45%;
  z-index: 99;
  pointer-events: none;
}

#to-do-column-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-height: 300px;
  max-height: 480px;
  margin: 0px 8px;
  position: relative;
}

#in-progress-column-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-height: 300px;
  max-height: 480px;
  margin: 0px 8px;
  position: relative;
}

#await-feedback-column-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-height: 300px;
  max-height: 480px;
  margin: 0px 8px;
  position: relative;
}

#done-column-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-height: 300px;
  max-height: 480px;
  margin: 0px 8px;
  position: relative;
}

.task-board-container {
  position: relative;
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  margin: 8px;
  max-width: 250px;
  min-width: 180px;
}

.task-board-container:hover {
  cursor: pointer;
}

.container-rotate {
  transform: rotate(10deg);
}

#task-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

#task-priority-icon-task {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

#task-assignment-container::-webkit-scrollbar {
  display: none;
}

#task-assignment-container:hover {
  overflow-x: scroll;
}

#task-assignment-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 24px;
  margin-bottom: 24px;
}

#task-assignment-container::-webkit-scrollbar-thumb:hover {
  background: #29abe2;
  border-radius: 4px;
}

#task-assignment-container::-webkit-scrollbar-thumb {
  background: #2a3647;
  border-radius: 4px;
  cursor: pointer;
}

.task-contact-initials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  flex: 0 0 auto;
  border: 1px solid white;
  margin-left: -8px;
  color: white;
  font-weight: 500;
}

.task-contact-initials:first-child {
  margin: 0;
}

#task-category-container {
  display: flex;
  justify-content: center;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  max-width: 150px;
}

.task-category-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

#task-title-container {
  margin-bottom: 16px;
}

#task-description-container {
  margin-bottom: 16px;
}

#task-description-container span {
  color: #a5a5a5;
}

#task-title-container span {
  font-weight: 700;
  font-size: 24px;
}

#task-progress-container {
  display: flex;
  flex-direction: column;
}

#task-progress-container span {
  font-size: 12px;
}

.drag-area-highlight {
  background: #eaeaea;
}

.dropdown-content {
  display: none;
}

.dropdown-content.show {
  display: block;
}

.dropdown-popup img {
  height: 16px;
  width: 16px;
}

.dropdown-popup {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 4px 32px;
  border-radius: 6px;
}

#contact-list-selection-popup {
  display: flex;
  align-items: center;
}

#contact-list-selection-popup:hover {
  cursor: pointer;
}

.category-dropdown-board-edit {
  position: absolute;
  flex-direction: column;
  align-items: flex-end;
  right: 32px;
  top: 0%;
  min-width: 125px;
  background: #2a3647de;
  border: 1px solid #ccc;
  padding: 10px 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 14px;
  border-radius: 20px 0px 20px 20px;
  z-index: 1001;
}

.category-dropdown-board-edit a {
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-end;
}

.category-dropdown-board-edit a:hover {
  background: #ffffffe1;
  color: #2a3647;
  cursor: pointer;
}

.dropdown-move-to-category-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  cursor: pointer;
}

.dropdown-move-to-category-container .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  font-size: 10px;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: -0%;
  right: 140%;
  z-index: 99;
}

.dropdown-move-to-category-container:hover .tooltiptext {
  visibility: visible;
}

/* STYLE ADD_TASK */
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding: 32px;
  border-radius: 10px;
  max-width: 100%;
  min-height: 100%;
  animation: showPopupAddTask 0.5s forwards, movePopupAddTAsk 0.5s forwards;
}

#task-task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

#task-task-form:hover {
  overflow-y: scroll;
}

#task-task-form::-webkit-scrollbar {
  display: none;
}

@keyframes showPopupAddTask {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes movePopupAddTAsk {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

#task-task-edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 100px;
}

.parent-container {
  display: flex;
}

#icon-dropdown-arrow-image {
  height: 8px;
  cursor: pointer;
}

#task-category-selection-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.task-priority-item {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.task-priority-item img {
  height: 8px;
  cursor: pointer;
}

#task-medium-icon {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

#task-priority-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

#task-priority-container-buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.priority-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px 16px;
  outline: none;
  border-radius: 6px;
  border: 1px solid lightgray;
  font-size: 16px;
}

#priority-urgent-text:hover {
  transform: scale(1.025);
  cursor: pointer;
}

#priority-medium-text:hover {
  transform: scale(1.025);
  cursor: pointer;
}

#priority-low-text:hover {
  transform: scale(1.025);
  cursor: pointer;
}

#category-technical-task {
  cursor: pointer;
}

#category-user-story {
  cursor: pointer;
}

#category-technical-task:hover {
  background: #091931;
  color: white;
  padding: 8px;
}

#category-user-story:hover {
  background: #091931;
  color: white;
  padding: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-selection {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

#contacts-dropdown-headline {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

#icon-contacts-dropdown-arrow-image {
  height: 8px;
  cursor: pointer;
}

#task-priority-icon-task {
  height: 16px;
  width: 16px;
}

#task-container {
  display: flex;
  justify-content: center;
}

.dropbtn-category-dropdown {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
  background: #2a3647;
  cursor: pointer;
}

#dropbtn-category-dropdown-button {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
  background: #2a3647;
  cursor: pointer;
}

.icon-close {
  background: url('./../assets/img/close_icon_white.svg');
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 8px 8px;
  background-color: #2a3647;
  cursor: pointer;
}

.icon-options {
  background: url('./../assets/img/more_icon.svg');
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px 12px;
  background-color: #2a3647;
  cursor: pointer;
}

#move-to-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8px 0px 8px;
}

.task-board-contacts-wrapper {
  display: flex;
  position: relative;
}

#task-assignment-container {
  display: flex;
  overflow: scroll;
  max-width: 85px;
  max-height: 40px;
  border-right: 10px solid transparent;
  border-radius: 20% 0 0 20%;
}

#assigned-contacts-task-board {
  display: flex;
}

.task-board-contacts-wrapper .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  font-size: 10px;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: -150%;
  z-index: 99;
}

.task-board-contacts-wrapper:hover .tooltiptext {
  visibility: visible;
}

.box-shadow-left-white {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: inset -18px 0 8px 0px white;
  z-index: 99;
  pointer-events: none;
}

#subtask-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#subtask-head-span {
  font-size: 16px;
  margin: 16px 0px;
}

input[type='date'] {
  position: relative;
  padding: 16px 4px;
}

input[type='date']::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

input[type='date']:before {
  background: none;
  display: block;
  content: url('./../assets/img/date_icon.svg');
  width: 16px;
  height: 16px;
  position: absolute;
  right: 6px;
  top: 50% 50%;
}

.form-flexbox {
  display: flex;
  justify-content: center;
}

#task-button-container {
  display: flex;
}

#icon-contacts-dropdown-arrow-image-popup {
  display: flex;
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.button-container a {
  text-decoration: none;
  cursor: pointer;
}

#edit-task-title-container-popup {
  padding: 0px 16px;
  margin-top: 16px;
  width: 325px;
  min-height: 36px;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgray;
}

#edit-task-description-container-popup {
  padding: 0px 16px;
  width: 325px;
  min-height: 36px;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgray;
}

#edit-task-date-container-popup {
  padding: 0px 16px;
  width: 325px;
  min-height: 36px;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgray;
  cursor: pointer;
}

#edit-task-subtask-input-popup {
  padding: 0px 16px;
  width: 325px;
  min-height: 36px;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgray;
}

#edit-task-title-container-popup:focus {
  outline: none;
}

#edit-task-description-container-popup:focus {
  outline: none;
}

#edit-task-date-container-popup:focus {
  outline: none;
}

#edit-task-subtask-input-popup:focus {
  outline: none;
}

.sub-task-container-board {
  margin-bottom: 16px;
  max-height: 50px;
  overflow: hidden;
  padding: 8px 16px;
}

.sub-task-container-board li {
  margin: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 325px;
}

.sub-task-container-board img {
  height: 12px;
  cursor: pointer;
}

.sub-task-container-board::-webkit-scrollbar {
  padding: 4px 0px;
  width: 6px;
}

.sub-task-container-board::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.sub-task-container-board::-webkit-scrollbar-thumb:hover {
  background: #29abe2;
  border-radius: 4px;
}

.sub-task-container-board::-webkit-scrollbar-thumb {
  background: #2a3647;
  border-radius: 4px;
  cursor: pointer;
}

.sub-task-container-board:hover {
  overflow-y: scroll;
}

#subtask-list-edit-popup {
  margin-bottom: 16px;
  overflow: hidden;
  padding: 8px 16px;
  min-width: 325px;
  min-height: 45px;
  max-height: 80px;
}

#subtask-list-edit-popup li {
  margin: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  max-width: 325px;
  min-height: 32px;
}

#subtask-list-edit-popup img {
  height: 12px;
  cursor: pointer;
}

#subtask-list-edit-popup::-webkit-scrollbar {
  padding: 4px 0px;
  width: 6px;
}

#subtask-list-edit-popup::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 24px;
  margin-bottom: 24px;
}

#subtask-list-edit-popup::-webkit-scrollbar-thumb:hover {
  background: #29abe2;
  border-radius: 4px;
}

#subtask-list-edit-popup::-webkit-scrollbar-thumb {
  background: #2a3647;
  border-radius: 4px;
  cursor: pointer;
}

#subtask-list-edit-popup:hover {
  overflow-y: scroll;
}

#edit-task-category-container-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#edit-task-priority-container-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-list-selection-popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 0px 16px 0px 16px;
  width: 325px;
  height: 36px;
}

#edit-category-dropdown-container-popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 0px 16px 0px 16px;
  width: 325px;
  height: 36px;
}

#edit-category-dropdown-container-popup:hover {
  cursor: pointer;
}

#edit-priority-container-popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 0px 16px 0px 16px;
  width: 325px;
  height: 36px;
}

#edit-priority-container-popup:hover {
  cursor: pointer;
}

#icon-category-dropdown-arrow-image-popup {
  display: flex;
  height: 16px;
  width: 16px;
}

#icon-priority-dropdown-arrow-image-popup {
  display: flex;
  height: 16px;
  width: 16px;
}

.category-dropdown-popup-container {
  background-color: white;
  z-index: 1;
  max-height: 150px;
  min-width: 232px;
  overflow-y: auto;
  border-radius: 10px;
  border: 1px solid lightgrey;
}

.category-dropdown-popup-container .dropdown-item-category {
  min-width: 200px;
  width: 325px;
  height: 36px;
  padding: 0px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priority-dropdown-popup {
  background-color: white;
  z-index: 1;
  max-height: 150px;
  min-width: 232px;
  overflow-y: auto;
  border-radius: 10px;
  border: 1px solid lightgrey;
}

.priority-dropdown-popup .dropdown-item-priority {
  width: 325px;
  height: 36px;
  padding: 0px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contacts-list {
  position: relative;
  border-radius: 6px;
}

#contacts-list-popup-detail {
  background-color: white;
  z-index: 1;
  max-height: 150px;
  min-width: 232px;
  overflow-y: auto;
  border-radius: 10px;
  border: 1px solid lightgrey;
}

#contacts-list-popup-detail::-webkit-scrollbar {
  display: none;
}

#contacts-list-popup-detail .dropdown-item {
  width: 325px;
  height: 36px;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contacts-list-popup-detail .dropdown-item .selected {
  background-color: #091931;
}

#contacts-list-popup-detail .dropdown-item:hover {
  background-color: #f1f1f1;
}

.priority-dropdown-popup .dropdown-item-priority:hover {
  background-color: #f1f1f1;
}

.category-dropdown-popup-container .dropdown-item-category:hover {
  background-color: #f1f1f1;
}

#category-dropdown-popup {
  margin-left: -12px;
}

#main-container-popup-board {
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#task-date-picker {
  max-width: 325px;
  min-width: 325px;
  max-height: 24px;
  border-radius: 6px;
  outline: none;
  border: 1px solid lightgray;
  font-family: 'Inter', sans-serif;
}

#task-title {
  max-width: 325px;
  min-width: 325px;
  border-radius: 6px;
  outline: none;
  border: 1px solid lightgray;
  font-family: 'Inter', sans-serif;
  padding: 8px;
  font-size: 16px;
}

#task-title-container {
  max-width: 150px;
  min-height: 60px;
  max-height: 90px;
  overflow-x: auto;
}

#task-description-container {
  max-width: 150px;
  min-height: 60px;
  max-height: 90px;
  overflow-x: auto;
}

#task-title-container::-webkit-scrollbar {
  display: none;
}

#task-title-container::-webkit-scrollbar-track {
  display: none;
}

#task-description-container::-webkit-scrollbar {
  display: none;
}

#task-description-container::-webkit-scrollbar-track {
  display: none;
}

#popup-addTask-BG {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -99;
}

#task-popup-edit-button-container {
  display: flex;
  gap: 16px;
  margin-top: 64px;
}

/**ADD TASK POPUP STYLES**/

textarea {
  font-size: 16px;
  padding: 8px;
  resize: none;
}

.form-height {
  width: 50%;
}

.left-container {
  padding-right: 24px;
}

.form-seperator {
  background-color: rgba(0, 0, 0, 0.1);
  height: 350px;
  padding-left: 1px;
  margin-top: 26px;
}

.right-container {
  padding-left: 24px;
}

/* headline */
.task-headline {
  font-size: 47px;
  font-weight: 700;
}

.tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  cursor: pointer;
}

/* title */
.field-headline {
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
  gap: 4px;
  margin: 16px 0px 16px 0px;
}

.asterisk-color {
  color: #ff3d00;
  font-size: 20px;
}

.field-325 {
  width: 325px;
  height: 24px;
  border-radius: 6px;
  border: 1px solid lightgray;
}

/* description */
.description-input {
  width: 325px;
  height: 88px;
  border-radius: 6px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

/* contacts */
.select {
  font-weight: 500;
  font-size: 16px;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 325px;
  height: 24px;
  border-radius: 6px;
  border: 1px solid lightgray;
  background: url('./../assets/img/dropdown_down.svg');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center right 16px;
  background-color: white;
  /* transition: all 300ms ease-in-out; */
}

.select-span {
  font-size: 16px;
  font-weight: 400;
}

.select:hover {
  cursor: pointer;
}

.contacts-dropdown {
  padding: 8px;
}

.addtask-initials {
  height: 24px;
  width: 24px;
  object-fit: cover;
}

/* date */
.date:hover {
  cursor: pointer;
}

::-webkit-datetime-edit {
  padding: 8px;
  color: lightgray;
  font-size: 16px;
}

::-webkit-calendar-picker-indicator {
  padding: 8px;
}

::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

input[type='date'] {
  position: relative;
  padding: 8px;
}

input[type='date']::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

input[type='date']:before {
  background: none;
  display: block;
  content: url('./../assets/img/date_icon.svg');
  width: 16px;
  height: 16px;
  position: absolute;
  right: 16px;
  bottom: 12px;
}

.select-category {
  font-weight: 500;
  font-size: 16px;
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 330px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgray;
  background: url('./../assets/img/dropdown_down.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 421px;
  background-color: white;
}

.select-span-category {
  font-size: 20px;
  font-weight: 400;
}

/* subtasks */
.subtask-field {
  width: 325px !important;
  height: 36px !important;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgray;
}

/* execution-buttons */
.execution-parent {
  width: 736px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.execution-responsive {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;
}

.position-execution {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.required-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 4px;
}

.required-text {
  font-weight: 400;
  font-size: 16px;
}

.cleaning {
  width: 84px !important;
  height: 44px !important;
  background-color: transparent;
  border-radius: 10px;
  outline: none;
  font-size: 22px;
  color: #2c2c2c;
  gap: 8px;
  border-color: #2c2c2c !important;
}

.cleaning-svg {
  width: 12px !important;
  height: 12px !important;
}

.cleaning-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cleaning:hover {
  cursor: pointer;
  opacity: 85%;
  transform: scale(1.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  color: #00bee8;
  border-color: #00bee8 !important;
  font-size: 16px;
}

.cleaning:hover .cls-20 {
  fill: #00bee8;
}

.create-task {
  width: 140px !important;
  height: 40px;
  padding: 0px 12px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #091931;
  color: white;
  font-weight: 500;
  font-size: 16px !important;
  background: url(./../assets/img/check_small_WHT.svg) no-repeat;
  background-size: 16px;
  background-position: center right 12px;
  background-color: #091931;
  transition: all 300ms ease-in-out;
}

.create-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.create-task:hover {
  cursor: pointer;
  transform: scale(1.01);
  border: 1px solid #00bee8;
  background-color: #00bee8;
}

.clear-button {
  width: 90px !important;
  height: 40px;
  padding: 0px 12px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #091931;
  color: #091931;
  font-weight: 500;
  font-size: 16px !important;
  background: url(./../assets/img/close_icon.svg) no-repeat;
  background-size: 14px;
  background-position: center right 12px;
  background-color: #eaeaea;
  transition: all 300ms ease-in-out;
}

.clear-button:hover {
  cursor: pointer;
  transform: scale(1.01);
  background-color: #d7d7d7;
  background: url(./../assets/img/close_icon_lightblue.svg) no-repeat;
  background-size: 14px;
  background-position: center right 12px;
}

/* Prio Buttons first-sight*/
.btn {
  background-color: white;
  border: 1px solid #000;
  margin: 5px;
  cursor: pointer;
  color: black;
}

.btn svg {
  width: 16px;
  height: 16px;
  margin-left: 6px;
}

.svg :hover {
  cursor: pointer;
  opacity: 85%;
  transform: scale(1.05);
}

.cls-13 {
  fill: white !important;
}

/* prio-buttons onclick */
.urgent {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgb(211, 211, 211, 0.3);
  font-size: 16px;
  padding: 0 8px 0 8px;
  transition: all 300ms ease-in-out;
}

.urgent:hover {
  cursor: pointer;
  opacity: 85%;
  transform: scale(1.05);
}

.medium {
  width: 108px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgb(211, 211, 211, 0.3);
  font-size: 16px;
  padding: 0 8px 0 8px;
  transition: all 300ms ease-in-out;
}

.medium:hover {
  cursor: pointer;
  opacity: 85%;
  transform: scale(1.05);
}

.low {
  width: 72px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgb(211, 211, 211, 0.3);
  font-size: 16px;
  padding: 0 8px 0 8px;
  transition: all 300ms ease-in-out;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.1);
}

.low:hover {
  cursor: pointer;
  opacity: 85%;
  transform: scale(1.05);
}

/* Dropdown*/
.dropbtn {
  font-weight: 400;
  font-size: 16px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 325px;
  height: 24px;
  border-radius: 6px;
  outline: none;
  border: 1px solid lightgray;
  background-color: white;
}

.dropbtn:hover {
  cursor: pointer;
}

.dropbtn img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.dropdown-content-category {
  background-color: #f9f9f9;
  width: 341px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  border-radius: 6px;
}

.dropdown-content-category-spacer {
  height: 20px;
  width: 20px;
  background: transparent;
}

.dropdown-content-category .tasks:hover {
  background-color: #f1f1f1;
}

.dropdown-content-category a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropbtn {
  cursor: pointer;
}

input[type='checkbox'] {
  accent-color: white;
  border: black !important;
}

.animation {
  transform: translateY(100%);
  transition: all 400ms ease-in-out;
  opacity: 0;
}

.alert-message {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: #c7c9c824;
}

.popup-message {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 30px;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 200ms ease-in-out;
  z-index: 1000;
}

.translateNull {
  transform: translateY(0) !important;
  opacity: 1;
}

.animate-text {
  font-weight: 32px !important;
  font-size: 16px;
  padding: 0px;
}

.animate-svg {
  height: 24px;
  width: 24px;
  margin-left: 24px;
  margin-right: 8px;
  margin-top: 20px;
}

.close-check-icons-container {
  /* width: 80px; */
  display: flex;
  justify-content: space-between;
}

.close-check-icons-container img {
  margin-left: 12px;
}

.mini-seperator {
  width: 2px;
  height: 20px;
  background-color: lightgray;
  margin-left: 8px;
}

.sub-task-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.sub-task-container li {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.sub-task-container img {
  width: 16px;
  height: 16px;
  margin-right: 24px;
  cursor: pointer;
}

.prio-container img {
  width: 16px;
  height: 16px;
  margin-left: 6px;
}

.size-medium {
  width: 14px !important;
  height: 10px !important;
  margin-left: 4px;
}

.dropdown-list {
  background-color: #f9f9f9;
  min-width: 341px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
}

.dropdown-list::-webkit-scrollbar {
  display: none;
}

.dropdown-list {
  max-height: 112px;
  overflow-y: hidden;
  border-radius: 10px;
}

.dropdown-list:hover {
  cursor: pointer;
  overflow-y: scroll;
}

.dropdown-list .dropdown-item {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}

.dropdown-list .dropdown-item:hover {
  background-color: #f1f1f1;
}

.sub-dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-dropdown-item label {
  margin-left: 8px;
}

.contacts-initial {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4px;
}

.initial-container {
  margin: 4px;
}
