#board-main-container {
  height: 100%;
  z-index: -1;
  padding: 144px 0px 64px 296px;

}

.main-content {
  display: flex;
  flex-direction: column;
}

.board-search-container {
  /* width: 75%; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-right: 30px;
}

.board-search-container h1 {
  font-size: 61px;
  font-weight: 700;
}

.input-search-container {
  width: 50%;
  display: flex;
  align-items: center;


}

.input-search-container input {
  width: 300px;
  height: 24px;
  padding: 12px 21px 12px 21px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(209, 209, 209, 1);
  outline: none;
  background-image: url("../assets/img/search_icon.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 300px 16px;
  margin-right: 20px;
}

.input-search-container button {
  padding: 12px 24px 12px 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  font-weight: 700;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
}

.input-search-container button:hover {
  background-color: rgba(41, 171, 226, 1);
  border: rgba(41, 171, 226, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.input-search-container svg {
  margin-left: 8px;
  width: 16px;
  height: 16px;
}

.column-container {
  display: flex;
  margin-right: 20px;
}

.sub-column-container {
  width: 25%;
  margin-right: 8px;
  margin-left: 8px;
}

.column-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column-head span {
  color: rgba(42, 54, 71, 1);
  font-size: 18px;
  font-weight: 700;
  margin-left: 12px;
}

.column-head img {
  width: 16px;
  height: 16px;
  padding: 2px;
  border: 2px solid rgba(42, 54, 71, 1);
  border-radius: 8px;
  cursor: pointer;
  margin-right: 12px;
}

.empty {
  font-size: 14px;
  color: rgba(168, 168, 168, 1);
  text-align: center;
  border-radius: 8px;
  background-color: rgba(231, 231, 231, 1);
  padding: 12px;
  border: 1px dashed rgba(168, 168, 168, 1);
}

.task-container {
  background-color: white;
  padding: 12px;
  border-radius: 24px;
  cursor: pointer;
  margin-bottom: 12px;
}

.task-container h4,
.popup-task-container h4 {
  width: 90px;
  background-color: #0038FF;
  padding: 4px 0px 4px 16px;
  border-radius: 8px;
  color: white;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  white-space: nowrap;
}

.technical-task-h4 {
  background-color: rgba(31, 215, 193, 1) !important;
  padding-right: 24px !important;

}

.task-container span {
  word-wrap: break-word;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
  color: rgba(42, 54, 71, 1);
  ;
}

.task-container p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: rgba(168, 168, 168, 1);
  margin-top: 10px;
  margin-bottom: 20px;
  overflow-x: clip;
  /* height:40px; */
}

.subtask-progress-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background-color: rgba(244, 244, 244, 1);
  margin-right: 8px;
}

.fill-progress-bar {
  width: 50%;
  height: 8px;
  border-radius: 8px;
  background-color: #4589ff;
}

.subtask-progress-container span {
  font-size: 10px;
  font-weight: 400;
  line-height: 14.4px;
  text-align: left;
  white-space: nowrap;
}

.badge-prio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-badge-container {
  display: flex;
}

.sub-badge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 12px;
  border: 1px solid rgba(250, 248, 248, 0.781);
  border-radius: 50%;
  padding: 2px;
  margin-right: 12px;
}

.badge-ro {
  background-color: #17dd17;
}

.badge-bt {
  background-color: #ed3343f6;
}

.badge-kt {
  background-color: #9fac14;
}

.badge-fk {
  background-color: #29bdb5;
}

.badge-bl {
  background-color: #4589ff;
}

.badge-ca {
  background-color: #bc35b3;
}

.badge-container img {
  width: 30px;
  height: 30px;
}

.badge-container {
  width: 25px;
  height: 30px;
}


.priorität-img-container img {
  width: 20px;
  height: 15px;
}

/* show popup  */
#task {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 33;
  background-color: #c7c9c824;
}

.popup-task-container {
  width: 400px;
  padding: 30px;
  padding-right: 8px;
  gap: 24px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  transform: translateX(100%);
  transition: all 200ms ease-in-out;
  opacity: 0;
}

.animate-popup-task-container {
  transform: translateX(0);
  opacity: 1;
}

.popup-task-container h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}

.popup-task-container span,
.popup-task-container p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.popup-task-container p {
  margin-bottom: 12px;
  margin-top: 12px;
}

.popup-priority-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 12px;
}

.popup-priority-container img {
  width: 15px;
  height: 10px;
  margin-left: 10px;
}

.popup-priority-img-container {
  margin-left: 30px;
}

.popup-badge-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}

.popup-badge-container img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}


.popup-modify-delete-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
}

.popup-subtask-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 280px;
  padding: 2px;
}

.popup-subtask-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.popup-subtask-container input {
  margin-right: 12px;
  cursor: pointer;
}

.popup-modify-delete-container img {
  width: 20px;
  height: 20px;
  margin-left: 20px;

}

.popup-del-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popup-del-edit img {
  width: 12px;
  height: 18px;
}

.popup-del-edit span {
  margin-left: 6px;
}

.popup-span {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(42, 54, 71, 1);
}

.popup-subtasks-container {
  margin-top: 20px;
}

/* media */
@media (max-width: 1300px) {
  .input-search-container input {
    width: 270px;
    background-position: 260px 16px;
  }
}

@media (max-width: 1250px) {

  /* .column-container {
    flex-direction: column;
  } */
  .input-search-container input {
    width: 220px;
    background-position: 220px 16px;
  }
}

@media (max-width: 1160px) {
  .input-search-container {
    flex-direction: column-reverse;
  }

  .input-search-container button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
  }

  .input-search-container input {
    width: 300px;
    background-position: 300px 16px;
  }

  .column-head {
    margin-bottom: 10px;
  }

  .column-head span {
    font-size: 16px;
  }

  .column-head img {
    width: 12px;
    height: 12px;
    padding: 4px;
  }
}

@media (max-width: 1020px) {
  .board-search-container h1 {
    font-size: 40px;
  }

  .input-search-container button {
    font-size: 0px;
  }

  .input-search-container svg {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1085px) {
  #board-main-container {
    height: 100%;
    padding: 120px 0px 64px 40px;
  }

  #header {
    margin-left: 0;
  }

  #mobile-menu {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    background: #2a3647;
    width: 100vw;
  }

  #sidebar-menu {
    display: none;
  }

  #main-container {
    padding: 144px 64px 64px 32px !important;
  }

  /* MOBILE MENU - START */

  #mobile-menu {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    background: #2a3647;
    width: 100vw;
  }

  .mobile-menu-item {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 80px;
    height: 80px;
  }

  .mobile-menu-item span {
    color: #cdcdcd;
    vertical-align: 8px;
    height: 80px;
  }

  .mobile-menu-item a {
    text-decoration: none;
  }

  .mobile-menu-item:hover {
    background: #091931;
  }

  .mobile-menu-icon {
    height: 24px;
  }

  #mobile-menu-icon-summary {
    background-image: url("/assets/img/summary_icon_GREY.svg");
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 24px;
  }

  #mobile-menu-icon-addtask {
    background-image: url("/assets/img/add_task_icon.svg");
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 24px;
  }

  #mobile-menu-icon-board {
    background-image: url("/assets/img/board_icon.svg");
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 24px;
  }

  #mobile-menu-icon-contacts {
    background-image: url("/assets/img/contacts_icon.svg");
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 24px;
  }

  #mobile-menu-icon-summary:hover {
    background-image: url("/assets/img/summary_icon.svg");
  }

  #mobile-menu-icon-addtask:hover {
    background-image: url("/assets/img/add_task_menu_icon_WHT.png");
  }

  #mobile-menu-icon-board:hover {
    background-image: url("/assets/img/board_icon_WHT.svg");
  }

  #mobile-menu-icon-contacts:hover {
    background-image: url("/assets/img/contacts_icon_WHT.svg");
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    display: block;
    visibility: hidden;
    font-family: "Roboto Condensed", sans-serif;
    width: 70px;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    border-radius: 6px;
    position: absolute;
    background: #2c2c2cd8;
    z-index: 1;
    bottom: 75px;
    left: -35%;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  #header h1 {
    display: none;
  }

  #header {
    margin-left: 0px !important;
    padding-left: 16px !important;
  }

  #mobile-logo-container {
    display: flex;
  }

  #mobile-logo {
    height: 48px;
    cursor: pointer;
  }

  .input-search-container button {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .button-container {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 880px) {
  .input-search-container input {
    height: 14px;
  }

  #board-main-container {
    padding: 120px 0px 64px 16px;
  }

  .column-container {
    margin-right: 10px;
  }

  .input-search-container input {
    background-position: 300px 12px;
    margin-right: 10px;
  }

  .button-container {
    margin-right: 0px;
  }
}

@media (max-width: 810px) {

  .column-head span {
    font-size: 14px;
  }

  .task-container h4,
  .popup-task-container h4 {
    font-size: 13px;
    width: 73px;
    padding: 4px 0px 4px 8px;
    margin-bottom: 12px;
  }

  .task-container span {
    font-size: 12px;
  }

  .task-container p {
    font-size: 12px;
  }

  .task-container span {
    font-size: 10px;
  }

  .column-head img {
    width: 10px;
    height: 10px;
  }

  .priorität-img-container img {
    width: 15px;
    height: 10px;
  }

  .sub-badge-container {
    width: 18px;
    height: 18px;
    font-size: 9px;
  }

  .badge-container {
    width: 18px;
    height: 23px;
  }

  .empty {
    font-size: 12px;
  }

  .subtask-progress-container {
    margin-bottom: 10px;
  }

  .task-container p {
    margin-top: 4px;
    margin-bottom: 10px;
  }

  .input-search-container {
    align-items: flex-end;
  }

  .input-search-container button {
    padding: 12px 14px 12px 14px;
  }

  .board-search-container {
    margin-right: 0px;
  }
}

@media (max-width: 730px) {

  .column-container {
    flex-direction: column;
  }

  .tasks-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow: auto;
    scrollbar-width: thin;
    width: 100%;
  }

  .sub-column-container {
    width: 100%;
    margin-bottom: 12px;
  }

  .task-container {
    width: 200px;
    margin: 10px;
  }

  .empty {
    width: 90%;
    margin-left: 10px;
  }
}

@media(max-width: 440px){
  .empty {
    width: 80%;
  }
}

@media (max-width: 380px) {
  .input-search-container input {
    width: 250px;
    background-position: 250px 12px;
  }
}
@media (max-width: 330px) {
  .input-search-container input {
    width: 230px;
    background-position: 230px 12px;
  }
}