
.dark-grey {
    background: #2c2c2c;
}

.light-grey {
    background: #d1d1d1;
}

.dark-grey-hover {
    background: #091931;
}

.light-blue {
    background: #29abe2;
}

.lighter-blue {
    background: #00bee8;
}

.sky-blue {
    background: #4589ff;
}

.blue {
    background: #0038ff;
}

.red {
    background: #ff3d00;
} 

.corall {
    background: #ff745e;
}

.light-corall {
    background: #ffa35e;
}

.orange {
    background: #ff7a00;
}

.light-orange {
    background: #ffbb2b;
}
 
.yellow {
    background: #ffe62b;
}

.dark-yellow {
    background: #ffc701;
}

.lightgreen {
    background: #7ae229;
}

.pink {
    background: #fc71ff;
}

.dark-pink {
    background: #ff5eb3;
}

.purple {
    background: #9327ff;
}

.dark-purple {
    background: #462f8a;
}



