/* main-container-contacts Start */

.main-container-contacts {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 87px 64px 64px 232px;
}

.contacts-list-container {
  display: flex;
  justify-content: center;
}

.contacts-list {
  height: 85%;
  padding: 0px 32px;
  background-color: white;
  margin-top: -6px;
}

#add-new-contact-btn {
  width: 352px;
  height: 56px;
  border-radius: 10px;
  padding: 12px 0px 12px 0px;
  font-size: 21px;
  font-weight: 700;
  color: white;
  gap: 16px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

#add-new-contact-btn img {
  width: 32px;
  height: 32px;
}

#add-new-contact-btn:hover {
  background: #29abe2;
  cursor: pointer;
}

#contacts-list-content {
  overflow: auto;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#initial-letter {
  font-size: 24px;
  padding: 17px 36px 17px 36px;
}

.breakline-contactlist {
  height: 1px;
  width: 352px;
  background-color: #d1d1d1;
  margin-top: 8px;
  margin-bottom: 8px;
}

#contact-contactlist {
  padding: 15px 0px 15px 24px;
  gap: 35px;
  border-radius: 10px;
}

#contact-contactlist:hover {
  cursor: pointer;
  background-color: #f1efef;
}

#contact-contactlist:active {
  background-color: #293647;
}

.first-letters-name-contactlist-bg {
  /* background-color: #ffbb2a; */
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.initial-name-email-container{
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 12px;
  cursor: pointer;
}

.contact-name-email-contactlist {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 8px;
  
}

#contact-name-contactlist {
  font-size: 20px;
  font-weight: 400;
}

.email-contactlist {
  text-decoration: none;
  color: #007cee;
}

/* PopUp Add new contact */

.add-new-or-edit-contact-popUp-bg {
  background: rgba(35, 36, 35, 0.3);
  z-index: 998;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #add-new-contact-popUp-bg{
  background: rgba(35, 36, 35, 0.3);
  z-index: 998;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(1750px);
  transition: 200ms ease-in-out;
}

#edit-contact-popUp-bg{
  background: rgba(35, 36, 35, 0.3);
  z-index: 998;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(1750px);
  transition: 200ms ease-in-out;
} */

.translateX-null {
  transform: translateX(0) !important;
}

.add-new-or-edit-contact-popUp {
  background-color: white;
  height: 592px;
  width: 1212px;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  display: flex;
}

.popUp-edit-add-leftside {
  background-color: #293647;
  width: 453px;
  height: 594px;
  border-radius: 30px 0px 0px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.popUp-edit-add-leftside-content {
  padding: 66px 48px 66px 48px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.span-Contact {
  font-size: 61px;
  font-weight: 700;
  color: white;
}

.span-tasks-are-better {
  font-size: 27px;
  font-weight: 400px;
  color: white;
}

.popUp-edit-add-leftside-content img {
  width: 55.6px;
  height: 66.48px;
}

.line-under-add-or-edit-contact-popup {
  width: 90px;
  border: 3px;
  border-radius: 3px;
  height: 3px;
  background-color: #29abe2;
}

.popUp-edit-add-middle {
  padding: 66px 48px 66px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-contact_icon {
  background-color: #d1d1d1;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
}

.margin-top-60px {
  margin-top: -60px;
}

.bg-contact_icon svg {
  width: 43px;
  height: 43px;
}

.popUp-edit-add-rightside {
  padding: 66px 48px 66px 48px;
}

.container-close-icon {
  display: flex;
  justify-content: end;
  margin-bottom: 66px;
}

.close-icon {
  height: 13px;
  width: 13px;
  padding: 5px;
}

.close-icon:hover {
  cursor: pointer;
  background-color: #d1d1d1;
  border-radius: 50%;
}

.container-close-icon-responsive {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  display: none;
}
.close-icon-responsive {
  height: 13px;
  width: 13px;
  margin: -23px 20px 0px 0px;
  padding: 5px;
}

.close-icon-responsive:hover {
  cursor: pointer;
  background-color: #29abe2;
  border-radius: 50%;
}

.form-add-new-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 50px;
}

.input-text-email-number-contact {
  padding: 13px 21px 13px 21px;
  border-radius: 10px;
  border-color: #d1d1d1;
  border-style: solid;
  width: 422px;
}

.input-text-contact {
  background: url("/assets/img/contact_icon.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 421px;
}

.input-email-contact {
  background: url("/assets/img/mail_icon.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 421px;
}

.input-number-contact {
  background: url("/assets/img/phone_icon.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 421px;
}

.button-container-add {
  display: flex;
  gap: 4px;
}

.button-container-edit {
  display: flex;
  gap: 25px;
}

.button_cancel {
  cursor: pointer;
}

.button_create_contact {
  cursor: pointer;
}

.button_save_contact {
  cursor: pointer;
}

.button_delete {
  cursor: pointer;
}
/* Contact-info-responisve */

.margin-left-0 {
  margin-left: 0 !important;
}

/* contacts-container */
.contacts-container {
  padding: 64px 32px;
  background-color: #f6f7f8;
  width: 100%;
}

.headline-div-contacts {
  gap: 30px;
  margin-bottom: 32px;
}

.headline-div-contacts h1 {
  font-size: 61px;
  font-weight: 700;
}

.parting-line-h1 {
  width: 3px;
  height: 59px;
  border: 3px;
  border-radius: 3px;
  background-color: #29abe2;
}

.parting-line-h1-horizontal {
  width: 90px;
  border: 3px;
  border-radius: 3px;
  height: 3px;
  background-color: #29abe2;
  display: none;
}

.head-description {
  font-size: 27px;
  font-weight: 400;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 21px;
  transform: translateX(1200px);
  transition: 400ms ease-in-out;
}

.contact-pic-name-container {
  gap: 54px;
}

.first-letters-name-bg {
  /* background-color: #ffbb2a; */
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;
  color: white;
  font-size: 47px;
}

#contact-name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#contact-name h2 {
  font-size: 47px;
  font-weight: 500;
}

#contact-edit-delete {
  gap: 13px;
}

#contact-edit-delete img {
  width: 24px;
}

#contact-edit {
  gap: 8px;
}

#contact-edit:hover {
  cursor: pointer;
  color: #29abe2;
}

#contact-delete {
  gap: 8px;
}

#contact-delete:hover {
  cursor: pointer;
  color: #29abe2;
}

#span-contact-information {
  font-size: 20px;
  font-weight: 400;
  height: 74px;
  display: flex;
  align-items: center;
}

#email-telefon-contact {
  gap: 22px;
}

#email-contact {
  gap: 15px;
}

#email-contact a {
  text-decoration: none;
  color: #007cee;
}

#phone-contact {
  gap: 15px;
}

#phone-contact a {
  text-decoration: none;
  color: black;
}

.contacts-container-backimage {
  display: flex;
  justify-content: space-between;
  width: 78%;
  gap: 40px;
}

#back-icon {
  display: none;
}

/* contacts-container-responsive */
.contacts-container-responsive {
  padding: 64px 32px;
  background-color: #f6f7f8;
  width: 100%;
  display: none;
}

.contact-responsive {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.first-letters-name-bg-mobil {
  background-color: #ffbb2a;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 47px;
}

.headline-div-contacts-mobil {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 25px;
}

.contact-pic-name-container-mobil {
  gap: 20px;
}

.h1-and-backimg-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.h1-mobil {
  font-size: 61px;
}

.d-unset {
  display: unset !important;
}

.display-none {
  display: none !important;
}

.back_icon {
  height: 32px;
  width: 32px;
}

.back_icon:hover {
  cursor: pointer;
}

/* small-buttons */

.button_add_contact_dark_blue {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 20px;
  bottom: 205px;
}

.button_add_contact_dark_blue:hover {
  cursor: pointer;
}

.button-more-options {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 20px;
  bottom: 205px;
}

.button-more-options:hover {
  cursor: pointer;
}

.PopUp-edit-delete-bg {
  z-index: 998;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.PopUp-edit-delete {
  background-color: white;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.312);
  width: 106px;
  height: 90px;
  border-radius: 20px 20px 0px 20px;
  padding: 10px;
  position: absolute;
  right: 20px;
  bottom: 125px;
}

.PopUp-edit-pen {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.PopUp-edit-pen:hover {
  cursor: pointer;
  background-color: #f1efef;
  border-radius: 10px;
}

.PopUp-edit-pen:hover {
  cursor: pointer;
}

.PopUp-edit-pen-img {
  height: 24px;
}

.PopUp-delete {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.PopUp-delete:hover {
  cursor: pointer;
  background-color: #f1efef;
  border-radius: 10px;
}

.PopUp-delete:hover {
  cursor: pointer;
}

.PopUp-delete-img {
  height: 24px;
}

/* main-container-contacts End */

#subtask-list li {
  display: flex;
  align-items: center;
}
