body {
  margin: 0;
}

.login-site {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f6f7f8;
}

.signUp-container {
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 64px;
  margin-top: 32px;
  gap: 35px;
  position: unset;
}

.signUp-container button {
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
  background-color: rgba(42, 54, 71, 1);
  border: rgba(42, 54, 71, 1);
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  cursor: pointer;
}

.signUp-container button:hover {
  background-color: rgba(41, 171, 226, 1);
  border: rgba(41, 171, 226, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.logo-container {
  width: 140.03px;
  height: 170.97px;
  margin-top: -32px;
  margin-left: 64px;
  /* margin-bottom: 16px; */

  position: relative;
  transform: scale(2.5);
  top: 40%;
  left: 40%;
  transition: all 700ms ease-in-out, top 700ms ease-in-out,
    left 700ms ease-in-out;
}

.animate {
  transform: scale(1);
  top: 0;
  left: 0;
}

.logo-container img{
  height: 120px;
}

.login-container {
  opacity: 0;
  margin-top: -32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 24px 24px 24px 24px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}

.h1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 61px;
  margin-top: 16px;
}

.h1-container h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
}

.line {
  width: 150px;
  height: 0px;
  gap: 0px;
  border: 3px 0px 0px 0px;
  border: 3px solid rgba(41, 171, 226, 1);
}

.inputs-container {
  padding: 24px 115px 24px 115px;
  gap: 16px;
}

.inputs-container input {
  width: 300px;
  padding: 12px 21px 12px 21px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgba(209, 209, 209, 1);
  outline: none;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 300px 10px;
}

.input1 {
  background-image: url("../assets/img/mail_icon.svg");
}

.input2 {
  background-image: url("../assets/img/lock_icon.svg");
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 142px;
  height: 24px;
  padding-left: 32px;
}

.checkbox input {
  height: 15px;
  cursor: pointer;
}

.checkbox span {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.login-buttons-container button {
  padding: 12px 24px 12px 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  font-weight: 700;
  color: rgba(42, 54, 71, 1);
  font-size: 16px;
  margin-bottom: 32px;
  cursor: pointer;
}

.login-buttons-container button:hover {
  color: rgba(41, 171, 226, 1);
  border: rgba(41, 171, 226, 1);
  border: 1px solid rgba(41, 171, 226, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.login-button {
  color: white !important;
  background: rgba(42, 54, 71, 1) !important;
}

.login-button:hover {
  background-color: rgba(41, 171, 226, 1) !important;
}

.imprint-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 16px;
  opacity: 0;
}

.imprint-container a {
  padding: 8px;
  color: rgba(168, 168, 168, 1);
  font-weight: 400;
  line-height: 19.2px;
  text-decoration: none;
}

.imprint-container a:hover {
  color: rgba(41, 171, 226, 1);
  font-weight: 700;
}

/* Signup site design */

.arrow-left-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.arrow-left-container img {
  width: 30px;
  height: 30px;
  margin-right: 135px;
  cursor: pointer;
}

.arrow-left-container img:hover{
  background-color:  rgba(202, 199, 199, 0.6);
 border-radius: 100%;
 padding: 4px
}

.input0 {
  background-image: url("../assets/img/contact_icon.svg");
}

.checkbox-signup-site {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 24px;
  padding-left: 32px;
}

.checkbox-signup-site input {
  height: 15px;
  cursor: pointer;
}

.checkbox-signup-site span {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.checkbox-signup-site a {
  color: rgba(41, 171, 226, 1);
  font-weight: 400;
  line-height: 19.2px;
  text-decoration: none;
}

.checkbox a:hover {
  text-decoration: underline;
  font-weight: 700;
}


/* alert Message */

.alert-message {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 33;
  background-color: #c7c9c824;
}

.popup-message {
  width:300px;
  padding: 30px 8px;
  padding-right: 20px;
  gap: 24px;
  border-radius: 30px;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 200ms ease-in-out;
}

.animate-popup-message {
  transform: translateY(0); 
  opacity: 1;
}

.wrong-password-container{
  color: red;
  font-weight: 400;
  font-size: 9px;
  margin-top: -13px;
}