/* SIDEBAR MENU - START */

@media screen and (max-width: 720px) {
  #header h1 {
    display: none;
  }

  #header {
    margin-left: 0px !important;
    padding-left: 16px !important;
  }

  #mobile-logo-container {
    display: flex;
  }

  #mobile-logo {
    height: 48px;
  }
}

@media screen and (max-width: 450px) {
  #sidebar-menu {
    display: none;
  }

  #main-container {
    padding: 144px 64px 64px 32px !important;
  }

  /* MOBILE MENU - START */

  #mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    background: #2c2c2c;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
  }

  .mobile-menu-item {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
  }

  .mobile-menu-icon {
    height: 48px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    display: block;
    visibility: hidden;
    font-family: "Roboto Condensed", sans-serif;
    width: 70px;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    border-radius: 6px;
    position: absolute;
    background: #2c2c2cd8;
    z-index: 1;
    bottom: 75px;
    left: -35%;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}


/* login seite */

@media (max-width: 700px){
  .arrow-left-container img {
      margin-right: 64px;
  } 

  .inputs-container {
      padding: 24px 40px 24px 40px;
  }
}

@media (max-width: 550px){
  .login-site {
      background-color: rgba(42, 54, 71, 1);
      transition: all 700ms ease-in-out;
  }

  .animate-login-site{
      background-color: #f6f7f8;
  }


  form {
      padding: 12px 12px 12px 12px;
  }
  .inputs-container {
      padding: 24px 0px 24px 0px;
  }

  .signUp-container {
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 60px;
      margin-right: 0px;
  }

  .logo-container {
      width: 80px;
      height: 93px;
      margin-left: 38px;
      margin-top: 16px;
      position: relative;
      top: 40%;
      left: 30%;
  }
  
  .animate {
      transform: scale(1);
      top: 0;
      left: 0;
  }
  .h1-container h1 {
      font-size: 47px;
      line-height: 56.4px;
  }

  .login-container{
      margin-top: 0px;
  }
  .line {
      width: 100px;
      border: 3px 0px 0px 0px;
      border: 2px solid rgba(41, 171, 226, 1);
  }
  .login-buttons-container {
      display: flex;
      flex-direction: column;
  } 
  .login-buttons-container button {
      margin-bottom: 16px;
  }
  
  .imprint-container{
      margin-bottom: 10px;
  }
}

@media (max-width: 430px){
  .inputs-container input{
      width:240px;
      background-position: 240px 5px;
  }
  .arrow-left-container img {
      margin-right: 32px;
  } 

}
@media (max-width: 370px){
  .inputs-container input{
      width:220px;
      background-position: 220px 5px;
  }
  .arrow-left-container img {
      margin-right: 16px;
  } 

}