@media screen and (max-width: 840px) {
  #sidebar-menu {
    display: none;
  }

  #main-container {
    padding: 144px 64px 64px 32px !important;
  }

  /* MOBILE MENU - START */

  #mobile-menu {
    position: fixed;
    bottom: 0;
    right: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    background: #2a3647;
    width: 100vw;
    z-index:999;
  }

  .mobile-menu-item {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 80px;
    height: 80px;
  }

  .mobile-menu-item span {
    color: #cdcdcd;
    vertical-align: 8px;
    height: 80px;
  }

  .mobile-menu-item a {
    text-decoration: none;
  }

  .mobile-menu-item:hover {
    background: #091931;
  }

  .mobile-menu-icon {
    height: 24px;
  }

  #mobile-menu-icon-summary {
    background-image: url("/assets/img/summary_icon_GREY.svg");
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 24px;
    margin-left: -16px;
  }

  #mobile-menu-icon-addtask {
    background-image: url("/assets/img/add_task_icon.svg");
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 24px;
  }

  #mobile-menu-icon-board {
    background-image: url("/assets/img/board_icon.svg");
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 24px;
  }

  #mobile-menu-icon-contacts {
    background-image: url("/assets/img/contacts_icon.svg");
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 24px;
  }

  #mobile-menu-icon-summary:hover {
    background-image: url("/assets/img/summary_icon.svg");
  }

  #mobile-menu-icon-addtask:hover {
    background-image: url("/assets/img/add_task_menu_icon_WHT.png");
  }

  #mobile-menu-icon-board:hover {
    background-image: url("/assets/img/board_icon_WHT.svg");
  }

  #mobile-menu-icon-contacts:hover {
    background-image: url("/assets/img/contacts_icon_WHT.svg");
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    display: block;
    visibility: hidden;
    font-family: "Roboto Condensed", sans-serif;
    width: 70px;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 8px;
    border-radius: 6px;
    position: absolute;
    background: #2c2c2cd8;
    z-index: 1;
    bottom: 75px;
    left: -35%;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  #header h1 {
    display: none;
  }

  #header {
    margin-left: 0px !important;
    padding-left: 16px !important;
  }

  #mobile-logo-container {
    display: flex;
  }

  #mobile-logo {
    height: 48px;
    cursor: pointer;
  }
}

/* SIDEBAR MENU - START */

@media screen and (max-width: 720px) {
  #sidebar-menu {
    width: 200px;
  }

  #sidebar-menu-privacy {
    width: 200px;
  }

  #sidebar-menu-imprint {
    width: 200px;
  }

  .sidebar-menu-item {
    width: 200px;
  }

  #summary-menu-icon {
    background-position: 40px center;
    text-indent: 85px;
  }

  #addtask-menu-icon {
    background-position: 40px center;
    text-indent: 85px;
  }

  #board-menu-icon {
    background-position: 40px center;
    text-indent: 85px;
  }

  #contacts-menu-icon {
    background-position: 40px center;
    text-indent: 85px;
  }
}

/* PRIVACY - START */

@media screen and (max-width: 1200px) {
  .privacy-container {
    width: 58%;
  }
}

@media screen and (max-width: 980px) {
  .privacy-container {
    width: 60%;
  }
}

@media screen and (max-width: 840px) {
  .privacy-container {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .privacy-container {
    margin-left: 0;
    width: 70% !important;
    max-height: 65% !important;
  }
}


