/* SIDEBAR MENU - START */
#sidebar-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 232px;
}

#logo-main {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-main-image {
  width: 120px;
  cursor: pointer;
}

.link-container {
  display: flex;
  flex-direction: column;
}

#sidebar-menu-navigation {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sidebar-menu-item {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 8px 66px;
}

.sidebar-menu-item:hover {
  background: #091931;
}

.sidebar-menu-icon {
  height: 32px;
}

#sidebar-menu-legal {
  color: #d1d1d1b0;
  display: flex;
  flex-direction: column;
}

#sidebar-menu-privacy {
  padding: 16px 66px;
  cursor: pointer;
}

#sidebar-menu-imprint {
  padding: 16px 66px;
  cursor: pointer;
}

#sidebar-menu-privacy:hover {
  background: #091931;
}

#sidebar-menu-imprint:hover {
  background: #091931;
}

/* HEADER - START */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px 0px 64px;
  height: 20%;
  margin-left: 232px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  clip-path: inset(0px 0px -10px 0px);
    background: white;
}

#header h1 {
  font-size: 16px;
  font-weight: 400;
}

#header-icons-container {
  display: flex;
  align-items: center;
}

#help-icon-container-image {
  height: 32px;
}

#contact-initial-container-image {
  height: 64px;
}

#help-icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80px;
  height: 80px;
}

#contact-initial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}

/* MAIN CONTAINER - START */
#main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    padding: 144px 64px 64px 296px;
}

/* main-container-contacts */

.contacts-list{
  height: 913px;
  margin-left: 232px;
  background-color: white;
 
  
}

#add-new-contact-btn{
  width: 352px;
  height: 56px;
  border-radius: 10px;
  padding: 12px 0px 12px 0px;
  font-size: 21px;
  font-weight: 700;
  color: white;
  gap: 16px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

#add-new-contact-btn img{
  width: 32px;
  height: 32px;
}
#add-new-contact-btn:hover{
  background: #29abe2;
  cursor: pointer;
}

#contacts-list-content{
  height: 800px;
  overflow: scroll;
  scrollbar-width: thin;
  width: 456px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#initial-letter{
  font-size: 24px;
  padding: 17px 36px 17px 36px;
}

#breakline-contactlist{
  height: 1px;
  width: 352px;
  background-color: #D1D1D1;
  margin-top: 8px;
  margin-bottom: 8px;
}

#contact-contactlist{
  padding: 15px 24px 15px 24px;
  gap: 35px;
}

#icon-contact-contactlist{
  height: 42px;
}

#contact-name-email-contactlist{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#contact-name-contactlist{
  font-size: 20px;
  font-weight: 400;
}

/* contacts-container */
#contacts-container{
  padding: 126px 64px 64px 64px;
  background-color: #f6f7f8;
  width: 100%;
}

#headline-div-contacts{
  gap: 30px;
  margin-bottom: 32px;
}

#headline-div-contacts h1{
  font-size: 61px;
  font-weight: 700;
}

#parting-line-h1{
  width: 3px;
  height: 59px;
}

#head-description{
  font-size: 27px;
  font-weight: 400;
}

#contact{
  display: flex;
  flex-direction: column;
  gap: 21px;
}

#contact-pic-name-container{
  gap: 54px;
}

#contact-name{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#contact-name h2{
  font-size: 47px;
  font-weight: 500;
}

#contact-edit-delete{
  gap: 13px;
}

#contact-edit{
  gap: 8px;
}

#contact-delete{
  gap: 8px;
}

#span-contact-information{
  font-size: 20px;
  font-weight: 400;
  height: 74px;
  display: flex;
  align-items: center;
}

#email-telefon-contact{
 gap: 22px;
}

#email-contact{
  gap: 15px;
}

#email-contact a{
  text-decoration: none;
  color: #007cee;
}

#phone-contact{
  gap: 15px;
}

#phone-contact a{
  text-decoration: none;
  color: black;
}