#main-container{
  height: 73.5vh;
  padding: 88px 64px 64px 296px;
}

span {
  color: rgba(42, 54, 71, 1);
}

.span-head-description {
  font-size: 20px;
  font-weight: 400;
}

.left-main-container {
  display: flex;
  flex-direction: column;
}

.headline-div-join360 {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 32px;
}

.headline-div-join360 h1 {
  font-size: 61px;
  font-weight: 700;
}

.parting-line-h1 {
  width: 3px;
  height: 59px;
}

.head-description {
  font-size: 27px;
  font-weight: 400;
}

.todo-done-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  margin-bottom: 20px;
}

.to-do-container {
  width: 160px;
  background-color: white;
  border-radius: 16px;
  padding: 15px 30px 15px 30px;
  margin: 8px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  transition: all 300ms ease-in-out;
}

.to-do-container:hover {
  transform: scale(1.05);
  background-color: rgba(42, 54, 71, 1);
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.to-do-container:hover span {
  color: white;
}

.to-do-container:hover #pen-path {
  fill: rgba(42, 54, 71, 1);
}

.to-do-container:hover #check-small-path {
  stroke: rgba(42, 54, 71, 1);
}

.to-do-container h2 {
  font-size: 60px;
  font-weight: 600;
}

.svg-to-do-container {
  width: 30px;
  height: 30px;
  /* gleiche Höhe wie Breite, damit es rund wird */
  background: rgba(42, 54, 71, 1);
  padding: 12px;
  border-radius: 50%;
  /* 50% für einen runden Hintergrund */
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-to-do-container svg {
  width: 60%;
  height: auto;
}

.to-do-container:hover .svg-to-do-container {
  background: white;
}

.cls-4 {
  fill: rgba(42, 54, 71, 1);
}

.svg-check-to-do-container {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(42, 54, 71, 1);
  padding: 12px;
  border-radius: 50%;
}

.svg-check-to-do-container svg {
  width: 30px;
  height: auto;
}

.to-do-container:hover .svg-check-to-do-container {
  background: white;
}

.urgent-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  background-color: white;
  padding: 15px 30px 15px 30px;
  border-radius: 16px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.urgent-container:hover {
  transform: scale(1.05);
  background-color: rgba(42, 54, 71, 1);
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.urgent-container:hover span {
  color: white;
}

.urgent-container h3 {
  margin-bottom: 12px;
  color: rgba(42, 54, 71, 1);
  font-weight: 700;

}

.urgent-container:hover h3{
  color: white;
}

.sub-urgent-container {
  width: 160px;
  text-align: center;
  cursor: pointer;
}

.sub-urgent-container h2 {
  font-size: 60px;
  font-weight: 600;
}

.svg-urgent-container {
  width: 30px;
  height: 30px;
  background: #ff3d00;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-urgent-container {
  width: 2px;
  height: 70px;
  background-color: rgba(209, 209, 209, 1);
}

.tasks-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
}

.tasks-container h2 {
  font-size: 60px;
  font-weight: 600;
}

.sub-tasks-container {
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 15px 30px 15px 30px;
  border-radius: 16px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  margin: 8px;
  text-align: center;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.sub-tasks-container:hover {
  transform: scale(1.05);
  background-color: rgba(42, 54, 71, 1);
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.sub-tasks-container:hover span {
  color: white;
}

.greet {
  margin-top: 74px;
  margin-left: 74px;
}

.greet h2 {
 
  font-size: 36px;
  font-weight: 500;
}

.greet h1 {
  white-space: nowrap;
  color: rgba(41, 171, 226, 1);
  font-weight: 700;
  font-size: 48px;
}

.greet-top {
  width: 100%;
  height: 200px;
  opacity: 0;
  display: none;
  flex-direction: column;
  transition: all 300ms ease-in-out;
  position: relative;
  top: 200px;
  /* left: 30px; */
  text-align: center;
}

.greet-top h2 {
  font-size: 36px;
  font-weight: 500;
}

.greet-top h1 {
  white-space: nowrap;
  color: rgba(41, 171, 226, 1);
  font-weight: 700;
  font-size: 40px;
}
