<section id="header">
    <h1>Kanban Project Management Tool</h1>
    <div id="mobile-logo-container" class="d-none"><img src="/assets/img/join_logo_DARK.svg" alt="" id="mobile-logo"></div>
    <section id="header-icons-container">
        <div id="help-icon-container"><img id="help-icon-container-image" src="/assets/img/help_icon.svg" alt=""></div>
        <div id="contact-initial-container"><img id="contact-initial-container-image" src="/assets/img/contact_initials.svg" alt=""></div>
    </section>    
</section>
<section id="sidebar-menu" class="dark-grey">
    <div id="logo-main" class=""><img src="/assets/img/join_logo_WHT.svg" alt="" id="logo-main-image"></div>
    <section id="sidebar-menu-navigation">
        <section class="link-container">
            <a class="sidebar-menu-item" href="/summary.html"><img src="/assets/img/summary_icon.svg" alt="" class="sidebar-menu-icon"><p>Summary</p></a>
            <a class="sidebar-menu-item" href="/assets/forms/addtask.html"><img src="/assets/img/add_task_icon_WHT.svg" alt="" class="sidebar-menu-icon"><p>Add Task</p></a>
            <a class="sidebar-menu-item" href="/board.html"><img src="/assets/img/board_icon.svg" alt="" class="sidebar-menu-icon"><p>Board</p></a>
            <a class="sidebar-menu-item" href="/contacts.html"><img src="/assets/img/contacts_icon.svg" alt="" class="sidebar-menu-icon"><p>Contacts</p></a>
        </section>
        <section id="sidebar-menu-legal" class="">
            <a id="sidebar-menu-privacy"><p>Privacy Policy</p></a>
            <a id="sidebar-menu-imprint"><p>Legal notice</p></a>
        </section>
    </section>
</section>
<section id="mobile-menu" class="d-none">
    <a class="mobile-menu-item tooltip" href="/summary.html"><img src="/assets/img/summary_icon.svg" alt="" class="mobile-menu-icon"><span class="tooltiptext">Summary</span></a>
    <a class="mobile-menu-item tooltip" href="/assets/forms/add_task.html"><img src="/assets/img/add_task_icon_WHT.svg" alt="" class="mobile-menu-icon"><span class="tooltiptext">Add Task</span></a>
    <a class="mobile-menu-item tooltip" href="/board.html"><img src="/assets/img/board_icon.svg" alt="" class="mobile-menu-icon"><span class="tooltiptext">Board</span></a>
    <a class="mobile-menu-item tooltip" href="/contacts.html"><img src="/assets/img/contacts_icon.svg" alt="" class="mobile-menu-icon"><span class="tooltiptext">Contacts</span></a>
</section>
