<section id="header">
    <h1>Kanban Project Management Tool</h1>
    <div id="mobile-logo-container" class="d-none"><a href="/index.html"><img src="/assets/img/join_logo_DARK.svg" alt="" id="mobile-logo"></a></div>
    <section id="header-icons-container">
        <div id="help-icon-container" onclick="goToHelp()"><img id="help-icon-container-image" src="/assets/img/help_icon.svg" alt=""></div>
        <div id="contact-initial-container" onclick="toggleShowLogout()"></div>
    </section>    
</section>
<section id="sidebar-menu" class="dark-grey">
    <div id="logo-main" class=""><a href="/index.html"><img src="/assets/img/join_logo_WHT.svg" alt="" id="logo-main-image"></a></div>
    <section id="sidebar-menu-navigation">
        <section class="link-container">
            <table>
                <div class="sidebar-menu-item" id="summary-menu-icon"><a class="sidebar-menu-link" href="/summary.html">Summary</a></div>
                <div class="sidebar-menu-item" id="addtask-menu-icon"><a class="sidebar-menu-link" href="/addtask.html">Add Task</a></div>
                <div class="sidebar-menu-item" id="board-menu-icon"><a class="sidebar-menu-link" href="/board.html">Board</a></div>
                <div class="sidebar-menu-item" id="contacts-menu-icon"><a class="sidebar-menu-link" href="/contacts.html">Contacts</a></div>
            </table>    
        </section>
        <section id="sidebar-menu-legal" class="">
            <a href="privacy.html" id="sidebar-menu-privacy"><p>Privacy Policy</p></a>
            <a href="imprint.html" id="sidebar-menu-imprint"><p>Legal notice</p></a>
        </section>
    </section>
</section>
<section id="mobile-menu" class="d-none">
    <div class="mobile-menu-item" id="mobile-menu-icon-summary"><a class="mobile-menu-link" href="/summary.html"><div class="mobile-menu-entry">Summary</div></a></div>
    <div class="mobile-menu-item" id="mobile-menu-icon-addtask"><a class="mobile-menu-link" href="/addtask.html"><div class="mobile-menu-entry">Add Task</div></a></div>
    <div class="mobile-menu-item" id="mobile-menu-icon-board"><a class="mobile-menu-link" href="/board.html"><div class="mobile-menu-entry">Board</div></a></div>
    <div class="mobile-menu-item" id="mobile-menu-icon-contacts"><a class="mobile-menu-link" href="/contacts.html"><div class="mobile-menu-entry">Contacts</div></a></div>
</section>
<div id="showLogout" class="showLogout"></div>
